# このフォルダ内ではスクリプトを実行させない（画像のみ配信）
<FilesMatch "\.(php|phtml|php[0-9]|pl|py|cgi|asp|sh)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
</FilesMatch>
